*.su
*.s
*.map
*.o
*.lds
*.bin
*.dep
*.srec
*.app
*.gz
.*depend*
include/generated/
include/config.h
include/autoconf.mk
u-boot
u-boot.lds
u-boot.map
tools/mkimage
tools/dumpimage
tools/mkenvimage
tools/gen_eth_addr
tools/envcrc
examples/standalone/hello_world
examples/standalone/ubi_sysupgrade
